# Ignore virtual environments
nids_env/
venv/
.env/

# Ignore dataset files
*.csv
*.tsv

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
